/* Font-Face */

@font-face {
    font-family: 'Oswald';
    src: '../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf';
}

@font-face {
    font-family: 'Rambla';
    src: '../assets/fonts/Rambla/Rambla-Bold.ttf';
}

@font-face {
    font-family: 'Roboto';
    src: '../assets/fonts/Roboto/Roboto-Regular.ttf';
}

@font-face {
    font-family: 'Abel';
    src: '../assets/fonts/Abel/Abel-Regular.ttf';
}

@font-face {
    font-family: 'Lexend';
    src: '../assets/fonts/Lexend_Deca/LexendDeca-Regular.ttf';
}

@font-face {
    font-family: 'Staatliches';
    src: '../assets/fonts/Staatliches/Staatliches-Regular.ttf';
}