/* import fonts from fonts.css files */
@import url(./fonts.css);
/* import CSS Variables */
@import url(./partials/_variables.css);
/* import global styling */
@import url(./partials/_globals.css);

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: left 0.5s ease;
}

#header nav {
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-black);
    font: normal bold 26px/13px var(--font-montserrat);
}

#header .site-title .navbar-brand-desc {
    font: normal bold 21px/12px var(--font-montserrat);
}

#header .nav-link {
    margin: 0.5rem 1rem;
    border-bottom: 1px solid var(--secondary-color4);
    text-transform: uppercase;
    font-family: var(--font-roboto);
    font-size: 18px;
}

#header .nav-link:hover {
    color: var(--secondary-color4) !important;
}

#header .toggle-button {
    background: none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--secondary-color4);
}

.toggle-left {
    left: 0 !important;
    width: 1000px !important;
}

/* End Header */

/* Main Area */
/* Site Main */

#canvas-basic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.site-banner .banner-area {
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author h1{
    font-family: var(--font-montserrat);
    font-weight: bolder;
    font-size: 38px;
}

.site-banner .banner-area .author h5{
    font-family: var(--font-montserrat);
    font-size: 28px;
}

.site-banner .banner-area .author .author-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url("../assets/about.jpeg") no-repeat;
    background-size: 180%;
    background-position: 50% 40%;
}

.about-us, .skill, .service-area, .reference-area, .work-area, .news-area, #footer {
    font-family: var(--font-archivo);
}

.about-us button:hover{
    background-color: var(--secondary-color1);
}

.skill .bars p, 
.site-content .skill .bars span {
    line-height: 10px;
}

.service-area .bg-dusty {
    background-color: var(--secondary-color2);
}

.reference-area .refName {
    font-weight: bold;
}

#footer form .row .col input[type="text"], 
#footer form .row .col input[type="email"], 
#footer form textarea {
    border-radius: 0;
    border: 1px solid black;
    padding: 1.5rem 1rem;
    background-color: transparent;
    color: black;
    font-size: 15px;
}

#footer .contact-us .mail-letter {
    border-left: 1px solid var(--secondary-color4);
}

.footer-copyright {
    margin-left: -25px;
    margin-right: -25px;
}

.move-up {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2.5rem;
    color: grey;
}

.move-up span:hover{
    color: black;
    opacity: 0.7;
}

/* End Site Main */
/* End Main Area */ 

@media screen and (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    #header {
        z-index: 0;
    }
}

@media screen and (max-width: 1024px){
    #header .site-title .navbar-brand {
        font: normal bold 18px/12px var(--font-montserrat);
    }
    
    #header .site-title .navbar-brand-desc {
        font: normal bold 16px/12px var(--font-montserrat);
    }
}

@media screen and (min-width: 1440px){
    #header .site-title .navbar-brand {
        font: normal bold 30px/15px var(--font-montserrat);
    }
    
    #header .site-title .navbar-brand-desc {
        font: normal bold 24px/12px var(--font-montserrat);
    }
}

@media screen and (max-width: 575px) {
    #footer .contact-us .mail-letter {
        border-left: none;
        border-top: 1px solid var(--secondary-color4);
    }
}