/* import fonts from fonts.css files */
@import url(./fonts.css);
/* import CSS Variables */
@import url(./partials/_variables.css);
/* import global styling */
@import url(./partials/_globals.css);

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: left 0.5s ease;
}

#header nav {
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-black);
    font: normal bold 30px/15px var(--font-sourceSansPro);
}

#header .site-title .navbar-brand-desc {
    font: normal bold 24px/12px var(--font-archivo);
}

#header .nav-link {
    margin: 0.5rem 1rem;
    border-bottom: 1px solid var(--secondary-color4);
    text-transform: uppercase;
    font: var(--font-archivo);
    font-size: 22px;
}

#header .nav-link:hover {
    color: var(--secondary-color4) !important;
}

#header .toggle-button {
    background: none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--secondary-color4);
}

.toggle-left {
    left: 0 !important;
    width: 1000px !important;
}

/* End Header */

/* Main Area */
/* Site Main */

#canvas-basic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.site-banner .banner-area {
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url("../assets/about.jpeg") no-repeat;
    background-size: 180%;
    background-position: 50% 40%;
}

.skill .bars p, 
.site-content .skill .bars span {
    line-height: 10px;
}

#footer form .row .col input[type="text"], 
#footer form .row .col input[type="email"], 
#footer form textarea {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
}

.footer-copyright {
    margin-left: -25px;
    margin-right: -25px;
}

/* End Site Main */
/* End Main Area */ 

@media screen and (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    #header {
        z-index: 0;
    }
}

@media screen and (max-width: 1100px) {
    #header .site-title .navbar-brand {
        font: normal bold 24px/12px var(--font-sourceSansPro);
    }

    #header .site-title .navbar-brand-desc {
        font: normal bold 20px/12px var(--font-archivo);
    }
}

@media screen and (min-width: 768px) and (max-width: 920px){
    #header .site-title .navbar-brand {
        font: normal bold 20px/10px var(--font-sourceSansPro);
    }
}