/* Global Classes */

/* Background Color Class */
.bg-color-lavender {
    background-color: var(--secondary-color2);
}

.bg-color-overcast {
    background-color: var(--secondary-color3);
}

.bg-color-paper {
    background-color: var(--secondary-color4);
}

/* Background Color Class */

/* Font Size Class*/
.font-size-40 {
    font-size: 40px;
}

.font-size-34 {
    font-size: 34px;
}

.font-size-27 {
    font-size: 27px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-16 {
    font-size: 16px;
}