
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root {
    /* Colors */
    --color-black: #000000;
    --color-white: #ffffff;

    --secondary-color1: #96858f;  /*Dusty*/
    --secondary-color2: #6d7993;  /*Lavender*/
    --secondary-color3: #9099a2;  /*Overcast*/
    --secondary-color4: #d5d5d5;  /*Paper*/
    --gradient-color: linear-gradient(90deg, #464159 0%, #6c7b95 100%);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* Font Family variables */
    --font-roboto: "Roboto", cursive;
    --font-abel: 'Abel', cursive;
    --font-lexend: 'Lexend', cursive;
    --font-archivo: "Archivo_Narrow", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-sourceSansPro: 'SourceSansPro', sans-serif;
}